<div class="container">
  <div class="row">
    <%= form_tag(root_path, method: "get") do %>
      <div>
        <%= label_tag(:search, "Link", :class => "col-lg-1 h1 bootstrap-heading") %>
      </div>
      <div class="col-lg-10" style="margin-top:20px">
        <%= text_field_tag(:search, nil, class: "form-control", placeholder: "search for...", autofocus: true) %>
      </div>
      <div class="col-lg-1" style="margin-top:20px">
        <%= submit_tag("Go!", :class => "btn btn-md btn-primary") %>
      </div>
    <% end %>
  </div>

  <div class="bs-docs-section clearfix">
    <div class="row">

      <% if ! @links.blank? %>
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Url</th>
          <th>Details</th>
        </tr>
        </thead>
        <tbody>
          <% @links.each_with_index do |link, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= link.title %></td>
              <td><a href="<%= link.uri %>" target="_blank"><%= link.uri %></a>  </td>
              <td><%= link_to ">>", link_path(link) %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
      <% end.blank? %>
      <% if @links.empty? %>
          <h1>Nothing to display... :(</h1>
      <% end %>
    </div>
  </div>
</div>
