<div class="container">
  <div class="grid-headers">
    <div class="row">
      <div class="col-lg-2">
        <h1>Links</h1>
      </div>
      <div class="col-lg-8" style="margin-top:20px">
        <input id="search-field" class="form-control" placeholder="search for..." autofocus> </input>
      </div>
      <div class="col-lg-2" style="margin-top:20px">
        <button id="button-search" class="btn btn-md btn-primary">Search</button>
      </div>
    </div>
  </div>

  <div class="bs-docs-section clearfix">
    <div class="row">

      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Url</th>
          <th>Details</th>
        </tr>
        </thead>
        <tbody>
          <% @links.each_with_index do |link, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= link.title %></td>
              <td><a href="<%= link.uri %>" target="_blank"><%= link.uri %></a>  </td>
              <td><%= link_to ">>", link_path(link) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
