<div class="container">
  <h1>Add new link to share...</h1>
  <%= form_for :link, url: links_path do |f| %>
      <% if @link.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@link.errors.count, "error") %> prohibited
              this link from being saved:</h2>
            <ul>
              <% @link.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :uri %><br>
        <%= f.text_area :uri %>
      </p>

      <p>
        <%= f.submit %>
      </p>
  <% end %>
  <%= link_to 'Back', root_path %>
</div>