<div class="container">
  <h1>Add new link to share...</h1>
  <div class="bs-docs-section">
    <div class="row">
      <div class="well bs-component">
        <%= form_for :link, :html => {:class => "form-horizontal"}, url: links_path do |f| %>
            <fieldset>
              <legend>Add some details about the resource you want to share...</legend>
              <% if @link.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@link.errors.count, "error") %> prohibited
                      this link from being saved:</h2>
                    <ul>
                      <% @link.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="form-group">
                <%= f.label :title, :class => "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.text_field :title,
                     {:class => "form-control",
                      :placeholder => "Why do you think it is interesting?"} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :uri, :class => "col-lg-2 control-label" %><br>
                <div class="col-lg-10">
                  <%= f.text_area :uri,
                    {:class => "form-control",
                     :placeholder => "http://something-interesting.com"} %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <%= button_tag "Clear", type: :reset, :class=> "btn btn-default" %>
                  <%= link_to "Cancel", root_path, {:class=>"btn btn-default"}  %>
                  <%= f.submit 'Save', :class => "btn btn-primary" %>
                </div>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'Back', root_path %>
</div>