<div class="container">
  <h1>Link details:</h1>

  <%= form_for :link, :html => {:class => "form-horizontal"}, url: links_path do |f| %>
        <div class="row">
          <%= f.label :title, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control" ><%= @link.title %></p>
          </div>
        </div>

        <div class="row">
          <%= f.label :uri, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control">
              <%= @link.uri %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :added_by, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control">
              <%= @link.added_by || "<unknown>" %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :created_at, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control">
              <%= @link.created_at.to_formatted_s(:db) %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :updated_at, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control">
              <%= @link.updated_at.to_formatted_s(:db) %>
            </p>
          </div>
        </div>
      <%= link_to 'javascript:history.go(-1);', :class=>"btn btn-primary" do %>
        <div class="glyphicon glyphicon-chevron-left "></div>
      <% end %>
  <% end %>
</div>