<div class="container">
  <h1>Link details:</h1>

  <%= form_for :link, :html => {:class => "form-horizontal"}, url: links_path do |f| %>
        <div class="row">
          <%= f.label :title, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control" ><%= @link.title %></p>
          </div>
        </div>

        <div class="row">
          <%= f.label :uri, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control">
              <%= @link.uri %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :added_by, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <p class="form-control"><%= @link.added_by || "<unknown>" %></p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :created_at, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :created_at,
                             {:class => "form-control uneditable-input",
                              :readonly => true,
                              :value => @link.created_at.to_formatted_s(:db)} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :updated_at, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :updated_at,
                             {:class => "form-control uneditable-input",
                              :readonly => true,
                              :value => @link.updated_at.to_formatted_s(:db)} %>
          </div>
        </div>
  <% end %>
</div>